#clickMeBtn {
    width: 80px;
}

#hideShowBtn {
    width: 95px;
}

.showHideBtn {
    margin-top: 15px;
    width: 95px;
}

.domTestingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.invisible{
    display: none;
}