#clickMeBtn {
    width: 80px;
}

#hideShowBtn {
    width: 95px;
}

.showHideBtn {
    margin-top: 15px;
    width: 95px;
}

.domTestingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.invisible{
    display: none;
}

.formContainer {
    width: 300px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgba(127, 186, 253, 0.452);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px 20px;
}